---
import BaseLayout from "@layouts/base.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>
    Published on: <strong>
      {new Date(frontmatter.pubDate).toDateString()}</strong
    >
  </p>

  <p><em>{frontmatter.description}</em></p>
  <p>Written by <strong>{frontmatter.author}</strong></p>
  <img
    src={frontmatter.image.url}
    alt={frontmatter.author.toLowerCase()}
    width="200"
  />
  <p><strong>Tags:</strong></p>
  <nav class="tags" aria-label="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <a href={`tags/${tag}`} class="tag">
          {tag}
        </a>
      ))
    }
  </nav>
  <slot />
</BaseLayout>
